<h1>Listing screenings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @screenings.each do |screening| %>
  <tr>
    <td><%= screening.title %></td>
    <td><%= screening.description %></td>
    <td><%= link_to 'Show', screening %></td>
    <td><%= link_to 'Edit', edit_screening_path(screening) %></td>
    <td><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screening', new_screening_path %>
