<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @screening.date %>
</p>

<p>
  <b>Name:</b>
  <%= @screening.name %>
</p>

<p>
  <b>City:</b>
  <%= @screening.city %>
</p>


<%= link_to 'Edit', edit_screening_path(@screening) %> |
<%= link_to 'Back', screenings_path %>
