<!DOCTYPE html>
<html>
<head>
  <title>Slomo</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11820840-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <meta name="keywords" content="slomo, documentary, slomo documentary, josh izenberg, amanda micheli, john kitchin, independent film, indie film, award-winning film, pacific beach, san diego, rollerblading, neurology, irollwithslomo, sxsw, san francisco, skating, surfing, the zone, aging, meditation, philosophy, spirituality" />

</head>
<body>

<div class="container", style="padding-top: 60px">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>

<%= yield :js %>
</body>
</html>
